.App {
    text-align: center;
    background-color: #000;
    min-height: 100vh;
}

.App-header {
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    color: #ffc901;
    margin-right: 5px;
    font-size: x-large;
}

.subtitle {
    color: #fff;
    margin-left: 5px;
    font-size: x-large;
}

.body-div {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

@media (min-width: 600px) {
    .animation {
        width: 80%;
        height: 80%;
    }
}

@media (min-width: 800px) {
    .animation {
        width: 45%;
        height: 45%;
    }
}

.text {
    color: #fff;
    margin-top: -20px;
}